/containers
/iterm2
/configstore
/thefuck
/coc
/yarn*
/nvim
/raycast
/fish/*
!/fish/config.fish
packer_compiled.lua
packer_snapshot
.DS_Store
dump.rdb
qBittorrent
exercism
jgit
lazygit/state.yml
nvm/versions
zed
raw_nvm/lazy-lock.json
