[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	autoSetupRemote = true
[alias]
	pull = pull --merge --autostash
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
	prune = true
[filter "gitignore"]
	clean = "sed '/gitignore$/'d"
;[filter "gitignore-block"]
;	clean = "awk '/-start/,/-end/'d"
[maintenance]
	repo = /Users/shamil/Projects/pairi-daiza/website-v1
